{% extends 'layout.html' %}
{% load newscred_extras %}

{% block title %} {{ topic.name }} {% endblock %}
{% block content %}
  <style type="text/css">
    section {
      width: 830px;
    }

    article {
      width: 500px;
      float: left;
    }

    #rightColumn {
      width: 300px;
      float: left;
    }

    .hidden {
      display: none;
    }
    .info{
      font-weight: bold;
      color: grey;
    }
  </style>

  <form id="topic_form" action="" method="post" data-topic-guid="{{ topic.guid }}">
    {{ contexts.csrf_token }}
    <h1 class="topic_name">
      {{ topic.name }}

    </h1>
    <input type="text" name="name" value="{{ topic.name }}" class="topic_name input-large hidden"/>
    <h4>{{ topic.link|shorten }}</h4>

    <section>
      <article id="leftColumn">
        <div class="topic_descriptions">
          <img src="{{ topic.image_url }}" style="float: left; padding: 10px;"/>
          {{ topic.description|slice:":100" }}

          <textarea name="description" cols="50" rows="8" class="topic_descriptions hidden"></textarea>
        </div>
        {% topic_info topic %}

        <aside style="clear:both">
          <h2>Related Topics</h2>
          {% if related_topics %}
            <ul>
              {% for related_topic in related_topics %}
                <li><a href="/topics/{{ related_topic.guid }}">{{ related_topic.name }}</a></li>
              {% endfor %}
            </ul>
          {% else %}
            <p>Sorry, no related topics found</p>
          {% endif %}
        </aside>

      </article>

      <div id="rightColumn">
        {% if images %}
          <ul>
            {% for image in images %}
              <a href="{{ image.urls.large }}"><img src="{{ image.urls.small}}"/></a>
            {% endfor %}
          </ul>
        {% else %}
          <p>Sorry, no image found</p>
        {% endif %}
      </div>
    </section>
  </form>
  <p style="clear:both">This app is developed by: <a href="{{ author_url }}">{{ author }}</a></p>

{% endblock %}




