<style type="text/css" xmlns="http://www.w3.org/1999/html">
  .augmented{
    color: red;
  }
</style>
{% extends 'layout.html' %}
{% block title %} Home {% endblock %}
{% block content %}
  {% if topics %}
    <ul>
      {% for topic in topics %}
        <li>
          {% if topic.augmented %}
            <a class='augmented' href="/topics/{{ topic.guid }}">{{ topic.name }}</a>
          {% else %}
            <a href="/topics/{{ topic.guid }}">{{ topic.name }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="alert alert-block">
      <h4>Warning!</h4>
      No topic found!
    </div>

  {% endif %}

  <hr />
  This app is developed by: <a href="{{ author_url }}">{{ author }}</a>
{% endblock %}

