<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %} - NewsCred</title>
  {% load bootstrap %}
  {% bootstrap_css %}
  <script type="text/javascript" src="{{ STATIC_URL }}jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}script.js"></script>
</head>
<body>
<div class="container">
  <div class="page-header">
    <h1>Welcome!</h1>
  </div>

  <div class="row-fluid">
    <h3>Search Topics</h3>

    <form action="/topics" class="form-horizontal">
      <div class="control-group">
        <div class="controls">
          <input type="text" name="q" placeholder="Enter topic and hit enter!"/>
          <button type="submit" class="btn btn-primary">Go</button>
        </div>
      </div>

    </form>
  </div>
  <div class="row-fluid">
    {% block content %} {% endblock %}
  </div>

  <div class="row-fluid">
    <div class="footer" style="clear: both;">
      <h3>This is footer</h3>
    </div>
  </div>
</div>


</body>
</html>